@font-face {
    font-family: "SpoqaHanSansNeo-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "SpoqaHanSansNeo-Regular", sans-serif;
    display: flex;
    justify-content: center;

    align-items: center;
    height: 100vh;
}

article {
    width: 400px;
}

/* .login-container */
.login-container {
    border: solid 1px #dbdbdb;
    border-radius: 5px;
    width: 350px;
    margin: 30px 25px;
}

.welcome-greeting {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    margin-top: 19px;
    margin-left: 16px;
}

/* button */
button {
    border-radius: 4px;
    width: 318px;
    height: 40px;
    background-color: #711bff;
    margin-top: 16px;
    margin-left: 16px;
    color: #ffffff;
}

button img {
    width: 102px;
    height: 18px;
}

/* .additional-container */
.additional-container {
    display: flex;
    justify-content: space-between;
    margin: 16px;
}

.box1 {
    width: 133px;
    height: 16px;
}

.box2 {
    width: 65px;
    height: 16px;
}

.additional img {
    width: 16px;
    height: 16px;
    float: left;
}

.additional a {
    font-size: 12px;
    color: #767676;
}

.box1 a,
.box1 p {
    display: inline;
    color: #767676;
}
